html {
    box-sizing: border-box;
    font-family: cursive;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    margin-bottom: 0;
}

p {
    margin: 5px;
}

img {
    width: 100%;
}


.container-fluid {
    padding: 30px 15px;
    margin-right: auto;
    margin-left: auto;
}

.display {
    text-align: center;
}

.display video {
    max-width: 100%;
    width: 720px;
    height: 240px;
}

.space p {
    font-weight: 500;
}

.name {
    font-size: 0.6rem;
    word-wrap: break-word;
}

.element {
    background-color: lightskyblue;
    text-align: center;
    margin: 3px;
}

.element:hover {
    cursor: pointer;
}

.row1 {
    display: grid;
    grid-template-columns: 5.56% 88.88% 5.56%;
    /* margin-bottom: 10px; */
}

.row2 {
    display: grid;
    grid-template-columns: 5.56% 5.56% 55.52% 5.56% 5.56%5.56% 5.56%5.56% 5.56%;
    /* margin-bottom: 10px; */
}

.row3, .row4, .row5 {
    display: grid;
    grid-template-columns: repeat(18, 5.555%);
    /* margin-bottom: 10px; */
}

.lan {
    font-size: 0.7rem;
}

.red-bg {
    background-color: red;
}

.yellow {
    background-color: orange;
}

.red h3, .red strong, .yellow h3, .yellow strong, .blue h3, .blue strong, .special {
    color: #FFF;
}

.pink {
    background-color: plum;
}

.teal {
    background-color: lightgreen;
}

.blue {
    background-color: deepskyblue;
}

.grey {
    background-color: #999999;
}

.mustard {
    background-color: gold;
}

.green {
    background-color: lightgreen;
}

.purple {
    background-color: orchid;
}

.empty {
    background-color: #FFF;
}

.nm .name {
    color: crimson;
}

.li .name {
    color: royalblue;
}

.un .name {
    color: lightgrey;
}

span.deepskyblue {
    color : deepskyblue;
}

span.lightgreen {
    color: lightgreen;
}

span.gold {
    color: gold;
}

span.lightskyblue {
    color: lightskyblue;
}

span.orchid {
    color: orchid;
}

span.plum {
    color: plum;
}

span.red {
    color: red;
}

span.orange {
    color: orange;
}

.grey-c {
    color: #999999;
}

.hide {
    display: none;
}

@media screen and (max-width: 1125px) {
    .name {
        font-size: 0.5rem;
    }

    .lan {
        font-size: 0.6rem;
        word-wrap: break-word;
    }
}


@media screen and (max-width: 700px) {
    .name, .lan {
        display: none;
    }

    h3, .num {
        font-size: 0.6rem;
    }

    h3 {
        margin: 2px;
    }

    .space p {
        margin: 0;
    }
}

@media screen and (max-width: 680px) {
    strong, h3 {
        font-size: 1.5vw;
    }

    h4 {
        font-size: 2.4vw;
    }

    .space p {
        font-size: 2.3vw;
    }

    .num {
        font-size: 0.5rem;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 280px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}