html {
    box-sizing: border-box;
    font-family: cursive;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 500;
    margin-bottom: 0;
}

h3 {
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    margin: 5px;
}

img {
    width: 100%;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.display {
    text-align: center;
}

.display video {
    max-width: 100%;
    width: 720px;
    height: 240px;
}

.space p {
    font-weight: 500;
}

.name {
    font-size: 0.6rem;
    word-wrap: break-word;
}

.element {
    background-color: lightskyblue;
    text-align: center;
    margin: 3px;
}

.element:hover {
    cursor: pointer;
}

.row1 {
    display: grid;
    grid-template-columns: 5.56% 88.88% 5.56%;
}

.row2 {
    display: grid;
    grid-template-columns: 5.56% 5.56% 55.52% 5.56% 5.56%5.56% 5.56%5.56% 5.56%;
}

.row3, .row4, .row5 {
    display: grid;
    grid-template-columns: repeat(18, 5.555%);
}